<section class="lg:flex lg:h-screen">
	<!-- ********************* START *************************** -->
	<!-- ** Landing Section ** -->
	<!-- ********************* START *************************** -->

	<section>
		<div class="overlay landing-section"></div>
	</section>

	<!-- ********************* START *************************** -->
	<!-- ** Content Section ** -->
	<!-- ********************* START *************************** -->
	<section
		class="mt-12 mx-4 text-center lg:text-right lg:m-auto lg:mx-0 lg:grid lg:justify-center lg:w-full"
	>
		<div>
			<h1 class="text-2xl font-semibold capitalize lg:text-4xl lg:font-extrabold">
				<span class=" text-custom-primary">Grow your business,</span><br /><span
					>With smarter operations</span
				>
			</h1>

			<div
				class="mt-8 font-custom-primary text-custom-secondary-light-3 dark:text-custom-secondary-light-2 lg:mt-12 lg:text-lg lg:font-medium lg:max-w-md lg:ml-auto"
			>
				<p>We provide services to manage your restaurants, kitchens and ingredients online.</p>
			</div>

			<div class="mt-12 lg:mt-16">
				<a appButton routerLink="Login">Get started for free</a>
			</div>
		</div>
	</section>
</section>
