<main class="lg:flex lg:max-h-screen lg:overflow-y-auto">
	<!-- ********************* START *************************** -->
	<!-- ** Landing Section ** -->
	<!-- ********************* START *************************** -->
	<section>
		<section>
			<div class="overlay landing-section grid items-center justify-center p-4">
				<p class="font-custom-primary font-black text-2xl text-center text-white">
					Turn your ideas to reality
				</p>
			</div>
		</section>
	</section>

	<!-- ********************* START *************************** -->
	<!-- ** Forms ** -->
	<!-- ********************* START *************************** -->
	<section
		class="px-6 my-8 lg:my-0 lg:px-0 lg:flex-1 lg:flex lg:flex-col lg:justify-center  lg:overflow-y-auto"
	>
		<router-outlet></router-outlet>
	</section>
</main>
