$width-when-collapsed: 80px;

:host {
	transition: all 100ms ease-in-out;

	i.bx-chevron-left {
		@apply hidden;
	}

	@media (min-width: 1024px) {
		i.bx-x {
			@apply hidden;
		}

		i.bx-chevron-left {
			@apply rotate-0 inline-block;
			transition: transform 250ms ease-in-out;
		}
	}

	&.close {
		@apply -translate-x-full opacity-0 lg:translate-x-0 lg:opacity-100;
		@media (min-width: 1024px) {
			width: $width-when-collapsed;
			i.bx-chevron-left {
				transform: rotate(180deg);
			}
		}
	}

	&.close #app-logo {
		@apply opacity-0;
	}

	@media (prefers-color-scheme: dark) {
		background: hsl(240deg 21% 11%);
	}
}

.sidebar-content,
footer {
	ul a,
	button {
		@apply font-medium inline-block w-full text-custom-secondary-light-2 p-3 rounded-lg hover:no-underline hover:text-custom-secondary dark:hover:text-custom-secondary-light-0 whitespace-nowrap;
		transition: all 250ms ease-in;

		.icon-wrapper {
			@apply px-2;
		}

		&.active {
			@apply bg-custom-primary text-white;
		}
	}

	button {
		@apply text-left;
	}
}

// When Sidebar is collapsed
:host.close {
	header {
		@apply flex items-center justify-center;

		#app-logo,
		h4 {
			@apply hidden;
		}

		button {
			@apply flex ml-0 items-center justify-center;
		}
	}

	.sidebar-content ul,
	footer ul {
		@apply space-y-1;

		a,
		button {
			@apply hover:bg-custom-secondary-light-0 relative dark:hover:bg-custom-secondary;

			.label-wrapper {
				@apply absolute top-1/2 hidden translate-x-0 -translate-y-1/2 transition-all ease-in-out;
			}

			&.active {
				@apply bg-custom-primary;
			}
		}

		a:hover,
		button:hover {
			.label-wrapper {
				@apply inline-block text-custom-secondary bg-custom-secondary-light-3 bg-opacity-10 p-2 text-xs rounded backdrop:filter backdrop-blur-md font-normal dark:bg-gray-600 dark:text-custom-secondary-light-1;
				animation: fade-in 250ms forwards;
			}
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translate(20px, -50%);
	}
	to {
		opacity: 1;
		transform: translate(30px, -50%);
	}
}
